<div class="wrapper navbar-search">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="navbar-search-left">
        <%= link_to root_path do %>
        <%= image_tag "test.jpg", height:95, width: 150  %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 inline">
      <%= simple_form_for "", url: searches_path, html: {class: "form-inline", novalidate: false} do |f| %>
          <div class="form-group">
          <%= f.input :keywords, :label =>"", :placeholder =>"Which cloth?", required: true, input_html: {value: @search.keywords } %>
        </div>
          <div class="form-group">
          <div id="autocomplete">
          <%= f.input :input_address, :label =>"", :placeholder =>"Where ?", required: true, input_html: {value: @search.input_address } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :distance, collection: Search.distances, :label =>"", selected: @search.distance %> km

        </div>
        <div class="form-group">
          <%= f.submit 'Search', class: "btn btn-primary" %>
          <!-- <button class="icon"><i class="fa fa-search">Search</i></button> -->
        </div>
      <% end %>

    </div>
  </div>
</div>
