<%= render 'searchnavbar' %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class ="filtre" >
        <div class="col-xs-12 col-sm-6">
          <label for="select_prix">prix:</label>
          <select id="select_prix">
            <% Article.prix.each_with_index do |sort, index| %>
              <option value=<%= sort %>><%= sort %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <!-- pour le tri/provider, listons seulement les providers qui ont actuellement un article dans la liste des articles -->
          <!-- mettons par defaut la valeur de non tri -->
          <% current_enseignes = ["-"] %>
          <% @articles.each { |a| current_enseignes << a.provider.name if !current_enseignes.include?(a.provider.name) } %>
          <label for="select_enseigne">enseignes:</label>
          <select id="select_enseigne">
            <% current_enseignes.each_with_index do |sort, index| %>
              <option value=<%= sort %>><%= sort %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="row cards-panel">
      <% @articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-card">
          <div class="card" style="background-image: url(<%= article.images.first.url %>);">
              <%= image_tag(article.provider.logo, class: "card-user") %>
              <a class="card-link" href="#" ></a>
            <%= link_to "", search_article_path(article.search, article), class: "card-link" %>
          </div>
          <div class="description">
            <p style="display: none;" class="provider"><%= article.provider.name %></p>
            <p class="title"><%= article.title %></p>
            <p class="prix"><span class="numeric-prix"><%= article.price.to_f / 100 %></span> €</p>
            <p><%= @markers_stores.select{|s| s.provider == article.provider}.count %> magasin(s) près de chez vous</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
<%= render 'pages/footer' %>
