<%= render 'searchnavbar' %>

<div class="wrapper">
  <div class="container">





    <div class="row">
      <div class="col-xs-12 col-sm-6 card-photo">
        <%= image_tag @article.images.first.url, width: 500 %>
      </div>
      <div class="col-xs-12 col-sm-6 card-details">
        <div class="price">
          <p>
            <%= @article.price/100 %> €
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
<%= render 'pages/footer' %>
