<%= render 'searchnavbar' %>

<div class="wrapper">
  <div class="container">
    <div class="row showrow">
      <div class="col-xs-12 col-md-6">
        <p class ="button-back"><b><a href="javascript:history.back()">Back to list</a></p></b><br/>
        <%= image_tag @article.images.first.url, class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-md-6 card-details">
        <div class="article-description">
          <h2><%= @article.title %></h2>
          <p><%= @article.description %></p>
          <div class="price">
            <p><%= number_to_currency((@article.price.to_f / 100), locale: :fr, precision: 2, strip_insignificant_zeros: true) %> </p>
          </div>
          <div id="vendor">
            merchant website :
          <a href=<%= @article.url %> title="" target="_blank"><%= image_tag @article.provider.logo, width: 100 %></a>
          </div>
          <div class="form-group select-size">
            <label for="selsize">Available sizes : </label>
            <select class="selectpicker" id="selsize" data-width="auto">
              <%=  @article.stocks.each do |stock| %>
                <% if stock.available == true %>
                  <option value=stock.size><%= stock.size %></option>
                <% else %>
                  <option value=stock.size disabled><%= stock.size %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
      </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <strong>Mode of Travel: </strong>
          <select id="mode-travel">
            <option value="driving">Driving</option>
            <option value="walking">Walking</option>
            <option value="bicycling">Bicycling</option>
            <option value="transit">Transit</option>
          </select>
          <em id="time-travel">my time travel</em>
        </div>
        <div id="map" data-markers="<%= @markers.to_json %>" data-stores="<%= @markers_stores.to_json %>" data-distances="<%= @distances.to_json %>" data-start="<%= @start.to_json %>"></div>
      </div>
      <div class="col-xs-12 col-md-6 card-details">
        <div class="select-store">
            <h2>Distance : <span id="store-distance"></span></h2>
          </div>
          <div class="informations">
           <div class="separator">
             <h2 id="store-address"><%= @markers_stores.first.address %></h2>
           </div>
           <div class="open-hours">
             <p>Open Hours :</p>
             <div id="line"></div>
             <div class="separator">
               <p id="store-schedules"></p>
             </div>
             <div id="line"></div>
           </div>
          </div>
      </div>
    </div>
  </div>
</div>
