<%= render 'searchnavbar' %>

<div class="wrapper">
  <div class="container">





    <div class="row">
      <div class="col-xs-12 col-sm-6 card-photo">
        <%= image_tag @article.images.first.url, width: 500 %>
      </div>
      <div class="col-xs-12 col-sm-6 card-details">
        <div class="price">
          <p>
            <%= @article.price.to_f / 100 %> €
          </p>
        </div>

        <div class="article-description">
          <div class="select-size">
            <%= simple_form_for :articles, url: '/' do |f| %>
            <%= f.select :sizes, collection: @article.stocks.map(&:size) %>
            <%= f.submit "Verifier ici le stock" %>
            <% end %>
          </div>
          <div class="select-store">
            Sélectionnez ici votre magasin
            <select>
              <% @markers_stores.each_with_index do |s, index| %>
                <option value=<%= index %>><%= s.address %></option>
              <% end %>
            </select>
          </div>
          <p>
            <%= image_tag @article.provider.logo, width: 400 %>
          </p>
          <p>
            <%= @article.description %>
          </p>
        </div>
      </div>
    </div>
    <div class="informations">

    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
