<%= render 'searchnavbar' %>

<div class="wrapper">
  <div class="container">
    <div class="row showrow">
      <div class="col-xs-12 col-md-6">
        <p class ="button-back"><b><a href="javascript:history.back()">Back to list</a></p></b><br/>
        <%= image_tag @article.images.first.url, class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-md-6 lg-4 card-details">
        <div class="article-description">
          <h2><%= @article.title %></h2>
          <p><%= @article.description %></p>
          <div class="price">
            <p><%= number_to_currency((@article.price.to_f / 100), locale: :fr, precision: 2, strip_insignificant_zeros: true) %> </p>
          </div>
          <div id="vendor">
            merchant website :
          <a href=<%= @article.url %> title="" target="_blank"><%= image_tag @article.provider.logo, width: 100 %></a>
          </div>
          <div class="form-group select-size">
            <label for="selsize">Available sizes:</label>
            <select class="selectpicker" id="selsize" data-width="auto">
              <%=  @article.stocks.each do |stock| %>
                <% if stock.available == true %>
                  <option value=stock.size><%= stock.size %></option>
                <% else %>
                  <option value=stock.size disabled><%= stock.size %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="select-store">
            <!-- <label for="selstore">Select your store</label> -->
<!--               <p>Your stores nearby :</p>
              <select class="selectpicker" id="selstore">
                <% @markers_stores.each_with_index do |s, index| %>
                  <option value=<%= index %>><%= s.address %></option>
                <% end %>
              </select> -->
            <p>Distance : <span id="store-distance"></span> km</p>
          </div>
          <div class="informations">
              <p>Location : </p>
              <p id="store-address"><%= @markers_stores.first.address %></p>
              <p id="store-schedules">
<!--                 <% @markers_stores.first.schedules.each do |schedule| %>
                <%= schedule.name %> : <%= schedule.open_hours %><br>
                <% end %> -->
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row showrow">
      <div class="col-xs-12">
        <div id="map" data-markers="<%= @markers.to_json %>" data-stores="<%= @markers_stores.to_json %>" data-distances="<%= @distances.to_json %>" data-start="<%= @start.to_json %>"></div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
