<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Get the right cloth at the right place" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.quickfind.club/" />
    <meta property="og:image" content="http://res.cloudinary.com/dwoel6eny/image/upload/v1528908421/fb.jpg" />
    <meta property="og:description" content="Get the right cloth at the right place.Don't waste you're time any more just quickfind you're cloth !" />
    <meta property="og:site_name" content="QuickFind" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@quickfindapp">
    <meta name="twitter:title" content="Get the right cloth at the right place">
    <meta name="twitter:description" content="Get the right cloth at the right place.Don't waste you're time any more just quickfind you're cloth !">
    <meta name="twitter:creator" content="@quickfindapp">
    <meta name="twitter:image:src" content="http://res.cloudinary.com/dwoel6eny/image/upload/v1528908421/fb.jpg">

    <meta name="google-site-verification" content="LnPNLeO2JXVUcf-vJ-TpkNB3ngOGzFHjzj0WfDu82bc" />

    <meta name="description" content="Get the right cloth at the right place.."

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="http://res.cloudinary.com/dwoel6eny/image/upload/v1528466966/finaly.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </body>
</html>
